/* Coolors Exported Palette - https://coolors.co/050505-392885-b4c1cf-b7b7c7-e2e1e3 */

/* CSS HEX
--rich-black-fogra-39: #050505ff;
--picotee-blue: #392885ff;
--light-steel-blue: #b4c1cfff;
--lavender-gray: #b7b7c7ff;
--gainsboro: #e2e1e3ff;

/* CSS HSL */
--rich-black-fogra-39: hsla(0, 0%, 2%, 1);
--picotee-blue: hsla(251, 54%, 34%, 1);
--light-steel-blue: hsla(211, 22%, 76%, 1);
--lavender-gray: hsla(240, 12%, 75%, 1);
--gainsboro: hsla(270, 3%, 89%, 1);

/* SCSS HEX */
$rich-black-fogra-39: #050505ff;
$picotee-blue: #392885ff;
$light-steel-blue: #b4c1cfff;
$lavender-gray: #b7b7c7ff;
$gainsboro: #e2e1e3ff;

/* SCSS HSL */
$rich-black-fogra-39: hsla(0, 0%, 2%, 1);
$picotee-blue: hsla(251, 54%, 34%, 1);
$light-steel-blue: hsla(211, 22%, 76%, 1);
$lavender-gray: hsla(240, 12%, 75%, 1);
$gainsboro: hsla(270, 3%, 89%, 1);

/* SCSS RGB */
$rich-black-fogra-39: rgba(5, 5, 5, 1);
$picotee-blue: rgba(57, 40, 133, 1);
$light-steel-blue: rgba(180, 193, 207, 1);
$lavender-gray: rgba(183, 183, 199, 1);
$gainsboro: rgba(226, 225, 227, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #050505ff, #392885ff, #b4c1cfff, #b7b7c7ff, #e2e1e3ff);
$gradient-right: linear-gradient(90deg, #050505ff, #392885ff, #b4c1cfff, #b7b7c7ff, #e2e1e3ff);
$gradient-bottom: linear-gradient(180deg, #050505ff, #392885ff, #b4c1cfff, #b7b7c7ff, #e2e1e3ff);
$gradient-left: linear-gradient(270deg, #050505ff, #392885ff, #b4c1cfff, #b7b7c7ff, #e2e1e3ff);
$gradient-top-right: linear-gradient(45deg, #050505ff, #392885ff, #b4c1cfff, #b7b7c7ff, #e2e1e3ff);
$gradient-bottom-right: linear-gradient(135deg, #050505ff, #392885ff, #b4c1cfff, #b7b7c7ff, #e2e1e3ff);
$gradient-top-left: linear-gradient(225deg, #050505ff, #392885ff, #b4c1cfff, #b7b7c7ff, #e2e1e3ff);
$gradient-bottom-left: linear-gradient(315deg, #050505ff, #392885ff, #b4c1cfff, #b7b7c7ff, #e2e1e3ff);
$gradient-radial: radial-gradient(#050505ff, #392885ff, #b4c1cfff, #b7b7c7ff, #e2e1e3ff);