body{
    background-color: #b4c1cfff;
    color: #050505ff;
}

h2 {
    font-family: monospace ;
}

p{
    font-family: monospace;
}
#nac{
    font-style: oblique;
    text-decoration: underline;    
}
.trybe-green{
    color: #0a7e51;
}
.big{
    font-size: 1.25em;
}
.small{
    font-size: 0.75em;
}